@media screen and (max-width: 1025px) {
  .appBox {
    grid-template-areas:
      "header"
      "canvas"
      "aside";

    gap: 20px;
  }

  header {
    grid-area: header;
  }

  canvas {
    grid-area: canvas;
    justify-self: center;
  }
  aside {
    width: 570px;
    height: 80px;
  }

  .operation_container {
    grid-area: aside;
    justify-self: center;
  }
}

@media screen and (min-width: 1026px) {
  .appBox {
    grid-template-areas:
      "header header"
      "canvas aside";

    gap: 20px;
  }
  .operation_container {
    grid-area: aside;
  }

  header {
    grid-area: header;
  }
  canvas {
    grid-area: canvas;
    justify-self: end;
  }
  aside {
    width: 300px;
    height: 80px;
  }
}
