@media screen and (max-width: 1025px) {
  .appBox {
    grid-template-areas:
      "header"
      "canvas"
      "aside"
      "modal";

    gap: 20px;
  }

  header {
    grid-area: header;
  }

  canvas {
    grid-area: canvas;
    justify-self: center;
  }
  aside {
    width: 570px;
    height: 80px;
  }

  .operation_container {
    grid-area: aside;
    justify-self: center;
  }
  #modal {
    grid-area: modal;
    left: calc(50% - 200px);
    top: calc(-600% - 100px);
  }
}

@media screen and (min-width: 1026px) {
  .appBox {
    grid-template-areas:
      "header header"
      "canvas aside"
      "modal aside";

    gap: 20px;
  }
  .operation_container {
    grid-area: aside;
  }

  header {
    grid-area: header;
  }
  canvas {
    grid-area: canvas;
    justify-self: end;
  }
  aside {
    width: 300px;
    height: 80px;
  }
  #modal {
    grid-area: modal;
    left: calc(85% - 200px);
    top: calc(-200% - 100px);
  }
}
