.brightManualSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageBrightSliderZone {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 180px; */
}
.imageBrightSliderZone li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
}

.bright_value_font {
  position: relative;
  left: 6px;
}

.brightManualTitle {
  font-size: 1.5rem;
}

.imageBrightSliderZone input {
  width: 74px;
}

.brightManualSection button {
  width: 61px;
  height: 45px;
}
