@import "fontFace.css";
@import "reset.css";
@import "aside.css";
@import "@mediaScreen.css";

body {
  background-color: #f6f9fc;
  background-image: url("https://source.unsplash.com/1600x900/?cat");
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "Eulyoo1945-Regular", "SDSamliphopangche_Outline";
}

.appBox {
  margin-top: 5vh;
  display: grid;
  gap: 20px;
}

header h1 {
  font-family: "SDSamliphopangche_Outline";
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  text-shadow: 3px 3px 0px rgb(109, 109, 109);
}

.canvas2 {
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 10px;
  border: 1px solid rgba(78, 78, 78, 0.479);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  z-index: 2;
}
.canvas {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}

#modal {
  background-color: rgba(73, 81, 107, 0.74);
  /* display: flex; */
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 400px;
  height: 200px;
  top: calc(-179% - 200px);
  left: calc(88% - 200px);
  border-radius: 1rem;
  cursor: pointer;
  z-index: 4;
}

.modal_BG {
  background-image: linear-gradient(
      rgba(131, 131, 131, 0.8),
      rgba(131, 131, 131, 0.8)
    ),
    url("https://source.unsplash.com/1600x900/?cat");
}

#modal button {
  font-family: "SDSamliphopangche_Basic";
  font-size: 1.5em;
  border-radius: 0.5em;
  width: 10vh;
  height: 5vh;
  cursor: pointer;
}
#modal p {
  color: #f6f9fc;
  font-family: "SDSamliphopangche_Outline";
  font-size: 1.5em;
}
